*,
*::before,
*::after {
    box-sizing: border-box;
}

:root{
    --body-color: #fafbf9;
    --primary-color: #ff5208;
    --secondary-color: #383845;
}

html, body{
    margin: 0;
    padding: 0;
    background-color: var(--body-color);
}

.body-container{
    display: flex;
}