*,
*::before,
*::after {
    box-sizing: border-box;
}

:root{
    --body-color: #68c7b3;
    --primary-color: #154799;
    --secondary-color: #eca796;
    --third-color: #fdd47c;
}

html, body{
    margin: 0;
    padding: 0;
    background-color: var(--body-color);
}

.body-container{
    display: flex;
    padding: 0 32px;
    flex-wrap: wrap;
}
