.header-container{
    display: flex;
}

.main-title{
    color: var(--primary-color);
    margin-top: 0;
    padding: 16px;
    margin-right: auto;
}

.navbar-button{
    display: flex;
    padding: 16px;
}