#editor {
    flex: 2;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputTextAreaTitle {
    color: var(--secondary-color);
}

.textAreaInput {
    resize: none;
    height: 80vh;
    min-width: clamp(18.75rem, 7.5rem + 60vw, 37.5rem);
}