#editor {
    flex: 2;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editorHeader{
    width: inherit;
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;
}

.editorTitle {
    color: var(--secondary-color);
}

.textAreaInput {
    resize: none;
    height: 70vh;
    width: clamp(18.75rem, 16.5441rem + 11.7647vw, 31.25rem);
}