#editor {
    flex: 2;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editorHeader{
    width: inherit;
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;
}

.editorTitle {
    color: var(--secondary-color);
}

.textAreaInput {
    resize: none;
    height: 80vh;
    width: clamp(18.75rem, 7.5rem + 60vw, 37.5rem);
}