.prebuilt-syntax{
    flex: 1;
    padding: 16px;
    width: 230px;
    padding: 0px;
}
.prebuiltsTitle{
    color: var(--secondary-color);
}
.button-syntax{
    background-color: var(--primary-color);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    margin-bottom: 4px;
    width: 200px;
}

.prebuiltHeader{
    width: inherit;
    display: flex;
    justify-content: space-between;
}

.builtIn-list{
    list-style: none;
    width: inherit;    
}

.prebuilt-syntax ul{
    height: 70vh;
    overflow-y: scroll;
    width: fit-content;
    padding: 4px;
    width: inherit;
}

.button-syntax:hover{
    background-color: #e77747;
}