#preview{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}
.previewHeader{
    width: inherit;
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;
}
.previewerTitle{
    color: var(--secondary-color);
}

.previewerDisplay{
    width: clamp(18.75rem, 16.5441rem + 11.7647vw, 31.25rem);
    background-color: white;
}