#preview{
    height: 80vh;
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 8px;
    width: clamp(300px, 400px, 800px);
    background: white;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    box-shadow: 20px 20px rgba(0,0,0,.15);;
    margin: 0 16px;
    margin-bottom: 32px;
}
.previewHeader{
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;
}
.previewerTitle{
    color: var(--secondary-color);
}

.previewerDisplay{
    overflow-y: scroll;
    background-color: white;
}