.li-button{
    list-style: none;
    margin-left: 4px;
    align-self: center;
}
.showButton{
    background-color:  rgb(0, 145, 12);
    border: none;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    margin-bottom: 4px;
    align-self: center;
}

.showButton:hover{
    background-color: rgb(102, 218, 111);
}